html, body, .app-container {
    height: 100%;
}

.app-container {
    background: #f0f0f0;
    background: linear-gradient(180deg, #f0f0f0  0%, #f0f0f0 66%, #c7dae8 100%);
}
body {
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    /* background-color: #e3e3e3; */
}

#dateTime {
    z-index: 2;
}

#toDoListContainer {
    padding-bottom: 100px;
}

.header-container {
    background: linear-gradient(180deg, #c7dae8 0%, #f0f0f0 66%, #f0f0f0 100%);
}
h1 {
    color: #f72585;
    animation-name: fade-color;
    animation-duration: 2s;
    animation-delay: 1s;
}

.app-icon {
    font-size: 60px;
    vertical-align: middle;
    transition: transform .375s ease-in-out 1s;
    color: #f72585;
    animation-name: fade-color;
    animation-duration: 2s;
    animation-delay: 1s;
}

.rotate-icon {
    transform: rotate(-8deg);
}

@keyframes fade-color {
    0% {
        color: #f72585;
    }

    5% {
        color: #b5179e;
    }

    10% {
        color: #7209b7;
    }

    15% {
        color: #560bad;
    }

    20% {
        color: #480ca8;
    }

    25% {
        color: #3a0ca3;
    }

    30% {
        color: #3f37c9;
    }

    35% {
        color: #4361ee;
    }

    40% {
        color: #4361ee;
    }

    45% {
        color: #4895ef;
    }

    50% {
        color: #4cc9f0;
    }

    55% {
        color: #4895ef;
    }

    60% {
        color: #4361ee;
    }

    65% {
        color: #4361ee;
    }

    70% {
        color: #3f37c9;
    }

    75% {
        color: #3a0ca3;
    }

    80% {
        color: #480ca8;
    }

    85% {
        color: #560bad;
    }

    90% {
        color: #7209b7;
    }

    95% {
        color: #b5179e;
    }

    100% {
        color: #f72585;
    }
}

h1 {
    cursor: default;
}

h1:hover>.rotate-icon {
    transform: rotate(0);
    cursor: default;
}

#toDoListAddItemContainer {
    box-shadow: 0 0px 16px rgba(0,0,0,.2);
}

.list-group-item:hover {
   background: #efefef;
   background: linear-gradient(180deg, #fff 0%, #fff 50%, #efefef 100%);
    cursor: pointer;
}

.list-group-item:hover span {
    color: #000;
}

.done {
    text-decoration: line-through;
    color: #999;
    transition: all .3 ease-in-out .3;
}

.form-check-input:checked {
    background-color: #f72585;
    border-color: #f72585;
}

.transition {
    transition: all .33s ease-in-out;
}

.scale_lg:hover {
    transform: scale(1.25);
}

.scale_xl:hover {
    transform: scale(1.5);
}
