html, body {
    height: 100%;
}
body {
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    background-color: #e3e3e3;
    background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 66%, rgba(200,200,200,1) 100%);
}

#toDoListApp {
    margin-bottom: 110px;
}

.header-container {
    background: linear-gradient(180deg, rgba(0,0,0,.25) 0%, rgba(0,0,0,.05) 66%, rgba(0,0,0,0) 100%);
}
h1 {
    color:#39a706;
    /* text-shadow: 0 2px 3px rgba(0,0,0,.35); */
}

.app-icon {
    font-size: 60px;
    vertical-align: middle;
    transition: transform .3s ease-in-out .3s;
    animation-name: fade-color;
    color: #49ce0b;
    animation-duration: 3s;
    animation-delay: 1s;
}

.rotate-icon {
    transform: rotate(-8deg);
}

@keyframes fade-color {
    0% {
        color: #49ce0b;
    }

    33.3% {
        color: #9ef01a;
    }

    66.6% {
        color: #9ef01a;
    }


    100% {
        color: #49ce0b;
    }
}

h1 {
    cursor: default;
}

h1:hover>.rotate-icon {
    transform: rotate(0);
    cursor: default;
}

#toDoListAddItemContainer {
    box-shadow: 0 0px 16px rgba(0,0,0,.2);
}

.list-group-item:hover {
   background: #efefef;
   background: linear-gradient(180deg, #fff 0%, #fff 50%, #efefef 100%);
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: #999;
    transition: all .3 ease-in-out .3;
}

.form-check-input:checked {
    background-color: #555;
    border-color: #555;
}
